.checkbox-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.checkbox-wrapper input[type="checkbox"] {
  cursor: pointer;
  width: 16px;
  height: 16px;
  accent-color: var(--color-primary);
}

.checkbox-wrapper input[type="checkbox"]:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.checkbox-wrapper .checkbox-label {
  user-select: none;
}
